{% extends 'base.html' %}
{%  load static    %}
<!doctype html>

    {% block content %} 
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div>
            <h3 class="heading-3">Suggestions</h3>
        </div>
          <div>
              {%for category in request.user.categories.all%}
              <small class="text-muted">{{category.name}}, </small>
              {%endfor%}
          </div>
        </div>
        <div>
          <p>{{request.user.username}}</p>
          <a>Logout</a>
        </div>
      </div>
      <hr />
      <div class=" d-flex justify-content-left">
        {% for i in foods %}
        <div class="bg-light mx-2 border shadow p-3" style="min-width:250px;max-width:250px">
            <h4>{{i.food_name}}</h4>
            <small class="text-muted">
              {{i.category.name}}
            </small>
            <div>
              <div>
                <img src="{{i.image.url}}" alt="food image" width="200" height="200">
              </div>
              <div>
                <p>{{i.price}}</p>
                <p>{{i.description|safe}}</p>
                <b>Instruction</b>
                <p>{{i.recepie|safe}}</p>
              </div>
            </div>
        </div>
        {% endfor  %}
      </div>
    {% endblock %}

  </body>
</html>